body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
nav{
    width: 100%;
    background: rgb(207, 0, 6);
    position: fixed;
    margin-bottom: 200px;
    z-index: 99998;
}
nav ul{
    padding: 0;
    margin: 0;
}

nav ul li{
    display: inline-block;
    padding: 10px;
}

nav ul li a{
    display: inline;
    color: white;
    padding: 10px;
    text-decoration: none;
}
.carrito{
    float: right;
}

.carrito-active{
    background: white;
}
.carrito-active a{
    color: black;
}

main{
    margin: 0 auto;
    width: 600px;
}

.articulo{
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    text-align: center;
    width: 176px;
}
.articulo div{
    padding: 5px 0;
}
.articulo .imagen img{
    height: 150px;
    object-fit: cover;
}

.articulo .titulo{
    font-weight: bold;
    font-size: 18px;
}
button{
    border: 0;
    border-radius: 5px;
    background: rgb(255, 30, 0);
    color:white;  
    padding: 10px;
}
button:hover {
    cursor: pointer;
    transform: scale(1.05);
}



#carrito-container{
    width: 490px;
    max-height: 500px;
    background: white;
    border: solid 1px #000;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    margin-top: 5px;
    display: none;
    overflow:scroll;
    scrollbar-color:red ;
}

#tabla .fila{
    box-sizing: border-box;
    padding: 10px 0;
    background-color: rgba(255, 0, 7, 0.05);
    margin-bottom: 3px;
    width: 100%;
    height: 65px;
    position: relative;
}

#tabla .fila .imagen{
    display: inline-block;
    height: 50px;
    width: 50px;
    overflow: hidden;
 
}
#tabla .fila .info{
    box-sizing: border-box;
    font-size: 12px;
    display: inline-block;
    padding-left: 20px;
    vertical-align: top;
    width: 240px;
}

#tabla .fila .info .nombre{
    font-size: 16px;
    font-weight: bold;
}

#tabla .fila .info .botones{
    padding: 3px ;
}

.btn-remove{
   position: absolute;
   top: 10px;
   right: 10px;
}
.btnadd{
    position: absolute;
    top: 10px;
    right: 60px;
 }

#tabla p{
    font-size: 24px !important;
    text-align: center;
    font-weight: bold;
    
}



/************************************ start  ventana modal *********************************/

#bg-windows{
   position: fixed;
   background-color: rgba(255, 0, 7, 0.5); 
   width: 100%;
   height: 100%;
   top: 38px;
   left: 0;
   z-index: 99995;
    visibility: hidden;  
}
.bg-windows-Content{
    position: relative;
    width: 80%;
    max-height: 500px;
    top: 10%;
    left:10%;
    overflow: scroll;
    background-color: blanchedalmond;
    text-transform: uppercase;
    padding-left: 10px;
   
}
 
/************************************ end ventana modal *********************************/
.btnC, .btnConf, .btn-carrito {
    width: 150px;    
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    background-color: rgb(112, 2, 70);
    color: white;
    border-radius: 10px ;
    margin: 0 auto ;
    padding: 10px;
    vertical-align: middle;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.btnConf {
    text-decoration: none;
    background-color:rgb(18, 165, 4); 
    margin-right: 30px;
}
 .btn-carrito{
    z-index: 99999;
    background-color:  rgb(177, 19, 19);
 }
 .btnC:hover, .btnConf:hover , .btn-carrito:hover {
    transform: scale(1.02);
   -moz-transform: scale(1.02);
   -ms-transform: scale(1.02);
   -webkit-transform: scale(1.02);
   cursor: pointer;
}